{% extends 'index.html' %}
{% load static %}

{% block content %}

<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init({
        publicKey: "KJGhoTRuR2nbKCLbJ",
      });
   })();
</script>

<section class="contact-section">
    <div class="container">
        <h2 class="text-center text-body-secondary fw-bold">GET IT TOUCH</h2>
        <form>
            <div class="mb-3">
                <label for="id_name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="id_name"
                    required>
            </div>
            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control"
                    id="id_email" required>
            </div>
            <div class="mb-3">
                <label for="id_subject" class="form-label">Subject</label>
                <input type="text" name="subject" class="form-control"
                    id="id_subject"
                    required>
            </div>
            <div class="mb-3">
                <label for="id_message" class="form-label">Message</label>
                <textarea name="message" class="form-control" id="id_message"
                    rows="4" required></textarea>
            </div>
            <button type="submit"
                class="btn btn-primary" onclick="sendMail()">Send
                Message</button>
        </form>
        <div id="success-message" class="alert alert-success mt-3 d-none">
            Message sent successfully!
        </div>
    </div>
</section>

<!-- smtpjs Script -->
<script>
    function sendMail() {
        let params = {
            name: document.getElementById('id_name').value,
            email: document.getElementById('id_email').value,
            subject: document.getElementById('id_subject').value,
            message: document.getElementById('id_message').value
        }
        emailjs.send("service_y0tup9s", "template_5lzw00e", params).then(alert("Email sent!!!"))
    }
</script>

{% endblock %}