{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="hero-section">
    <img src="{% static 'images/home_main.jpg' %}" alt="Home Main Image"
        class="hero-image">
    <div class="hero-overlay"></div>
    <div class="hero-text">
        <h1>Welcome to
            <span class="animated-text">
                <span class="char">S</span><span class="char">i</span><span
                    class="char">m</span><span class="char">p</span><span
                    class="char">l</span><span class="char">e</span><span
                    class="char">e</span>
                <span class="char space">&nbsp;</span>
                <span class="char">S</span><span
                    class="char">h</span><span
                    class="char">a</span><span class="char">w</span><span
                    class="char">a</span><span
                    class="char">r</span><span class="char">m</span><span
                    class="char">a</span>
            </span>
        </h1>
        <p>
            The Taste of World's Number 1 Shawarma
            <br>
            <span>Let's roll it!</span>
        </p>
    </div>
</div>

<div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
        dolor earum atque voluptatibus. Minima aut, pariatur officiis aperiam
        odit consequatur ipsam rerum eligendi maxime quasi asperiores ex
        voluptas magni accusantium saepe sed, suscipit, corrupti debitis sunt
        consequuntur unde quod? Dolorum nesciunt maxime voluptatum
        necessitatibus amet illo molestias rerum alias officiis at saepe, sint
        non facilis. Quod atque illo aperiam adipisci pariatur non error hic
        natus aut mollitia, aliquam ipsa voluptatibus voluptate, a optio
        accusantium quo sapiente quam totam facilis esse quasi animi magni?
        Laudantium laboriosam adipisci ipsam vitae. Eos nihil tempore ea
        repudiandae magnam deserunt nesciunt eius ex, et eum. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Voluptatum iusto cum architecto
        reprehenderit fuga cupiditate rerum dolor molestiae beatae quis facilis
        soluta corrupti, et deserunt! Pariatur possimus architecto odio aliquid
        inventore dignissimos illo, ex repellendus fuga soluta quod consequuntur
        a quis incidunt. Facilis asperiores obcaecati, suscipit quibusdam, quo
        accusamus dolor inventore sint cumque error voluptate beatae officia
        consectetur, modi id. Assumenda ipsum hic iste, quidem cumque blanditiis
        consequatur laborum suscipit, explicabo voluptatibus placeat ex quam
        aut, alias magnam expedita iure quas fuga porro deserunt beatae
        consectetur corporis! Similique est cupiditate magni repudiandae minus
        fuga, optio, fugiat expedita, omnis rerum enim pariatur! Quidem,
        accusamus. Eum blanditiis aliquam nobis facilis eaque odit magni,
        praesentium incidunt itaque obcaecati provident nesciunt excepturi
        recusandae laudantium explicabo voluptas id? Perferendis maiores nulla
        eos, nam ducimus asperiores! Aperiam reiciendis nisi dignissimos
        distinctio laboriosam sint totam porro ipsa nam hic, deleniti eos animi
        sit error optio vero sequi quas itaque sunt at quis, harum perferendis!
        Consequatur alias ullam, asperiores nam iusto repellendus earum ab
        facilis ex dolores, officiis rem ducimus error deserunt voluptatibus,
        esse et provident. Cum facilis tenetur, reiciendis cupiditate ipsa
        incidunt architecto quod ipsum accusantium, laudantium minus, alias
        fugiat provident possimus reprehenderit aliquam suscipit consequatur.
        Facere, ducimus enim praesentium explicabo assumenda fugit expedita!
        Rerum perspiciatis, doloremque nostrum sed illum quidem magnam
        perferendis mollitia vitae? Velit eveniet voluptate itaque excepturi
        dolorem, nesciunt unde commodi, doloremque veritatis voluptatum fuga,
        atque quaerat vel? Placeat totam numquam dicta nisi? Unde, tenetur odio!
        Explicabo corporis suscipit nobis. Quod aspernatur mollitia soluta,
        porro ipsum quia fugit odio deleniti ipsam illum necessitatibus eius
        corporis, eaque molestiae voluptate voluptatum eos. Odit, magni.
        Distinctio a, tempore error odio, libero sunt porro esse voluptatem sed
        earum reprehenderit aliquam, nulla reiciendis voluptates magnam ipsum
        sit. Eius non sed dolor quae, facere nobis iure aspernatur nisi dolorum
        consequuntur incidunt quia doloribus ipsum obcaecati praesentium ullam
        reprehenderit porro iusto excepturi. Ducimus eligendi at iste
        consequuntur maxime dolores alias nesciunt rem veritatis ipsam quos quod
        ad quam iusto, maiores sint. Maiores sit modi eos doloremque itaque.
        Tempore veritatis corporis nemo molestiae sapiente porro, voluptates et
        minus numquam iste, quia ipsa suscipit harum nam sint laborum soluta
        ullam non fugit maiores quae illum ut. Perspiciatis accusantium
        voluptates maiores saepe alias itaque laudantium nostrum dolor id rem
        culpa eveniet temporibus aliquam consequuntur, deserunt vitae neque
        animi facilis, rerum voluptatibus? Provident recusandae ea
        necessitatibus, veniam quisquam illo fugit sapiente possimus incidunt
        quaerat autem odit! At velit assumenda totam porro minima, ullam ipsa
        corrupti, nemo, asperiores maiores harum quo! Maiores, dolores. Maxime,
        eaque quos et quia, quis fugit harum dolorem numquam eveniet incidunt
        non ullam aperiam optio. Optio dolores sint alias! Optio reprehenderit
        eaque aperiam saepe asperiores laborum. Quisquam reiciendis sit quasi
        obcaecati eveniet corporis maxime praesentium, recusandae suscipit
        cupiditate blanditiis reprehenderit molestias totam voluptate dolores
        laboriosam at. Voluptatibus rerum veritatis autem illo quod ad
        laboriosam, a hic provident, aliquid voluptatum asperiores architecto
        excepturi porro corporis nostrum doloribus dolores cumque! Quidem,
        numquam quas similique, a eius quisquam repellendus alias
        necessitatibus, mollitia quia perspiciatis iusto nam. In quo nulla
        praesentium nostrum soluta aliquam eos a ullam? Ab blanditiis eos sit
        sapiente error laboriosam culpa harum, autem fugit, quasi, nobis
        accusamus vel ipsum minus. Aut impedit magnam dicta sequi culpa sit,
        labore fugiat, explicabo eveniet, velit omnis amet nisi quam pariatur.
        Perspiciatis distinctio blanditiis numquam eius dolorem fugiat.
        Sapiente, repellendus iusto commodi porro soluta, deleniti dolorem
        totam, sequi at nobis eligendi tempore. Aliquam asperiores sint possimus
        fugiat praesentium temporibus libero, non eaque sit necessitatibus
        nesciunt. Quisquam ea vel laudantium sed consequuntur? Alias esse
        numquam velit commodi sunt dolor unde ex fugit repellat praesentium,
        quasi ipsam nesciunt. Ipsam atque debitis ipsa delectus optio commodi
        dignissimos, earum voluptate numquam dolores in voluptas harum eligendi
        quidem illum aperiam eveniet deleniti animi provident dolor. Sit, sed.
        Accusamus dolore, officiis velit est ex quas reprehenderit quisquam et
        delectus architecto ipsa repudiandae minima dignissimos voluptates esse
        corrupti, deserunt porro ipsum. Eum incidunt delectus quos soluta ut,
        aut similique. Accusamus officiis quasi, aut totam cupiditate labore
        perferendis cumque, nostrum atque enim provident modi, aperiam quas
        itaque. Dolore rerum ullam omnis iste doloribus aliquid obcaecati quas!
        Et cumque tempora consequuntur iste asperiores corporis illum quibusdam
        impedit perferendis, quo excepturi aperiam expedita. Nostrum molestias
        consequuntur laboriosam impedit magnam, libero id adipisci fugit
        molestiae sapiente magni cupiditate ea esse eveniet, debitis earum illo
        itaque. Neque mollitia sequi commodi porro repudiandae facilis dicta.
        Accusantium incidunt voluptate eum est dicta nisi commodi error
        voluptates, ullam atque dolore et molestias omnis distinctio non tenetur
        consequuntur laboriosam unde voluptas aperiam, eveniet totam fuga odit.
        Sit nostrum, fugit rem ullam accusantium at, aut animi esse excepturi
        dolorem provident quam vero veritatis quod ex autem blanditiis nulla
        labore voluptas reiciendis. Aspernatur rerum cupiditate nemo quia, earum
        aliquid voluptatibus iure odio? Et reiciendis quod, quasi voluptates sit
        cupiditate facere ea corporis minima molestiae a at odio molestias animi
        ab dicta. Quia voluptates explicabo voluptate repudiandae ipsam debitis
        beatae natus tempore modi aliquam quod, laboriosam ab in provident
        blanditiis sint quidem vel laborum dicta esse eaque. Esse, recusandae.
        In magnam velit, quo nesciunt vel dicta! Consequuntur dolorem possimus
        cupiditate itaque voluptatibus perferendis accusamus saepe ad sed odio,
        provident necessitatibus fugiat, doloribus id autem natus a quibusdam
        omnis? Incidunt deleniti, vel iste impedit tempora eum deserunt
        recusandae at, blanditiis rem corporis fuga saepe necessitatibus veniam,
        laudantium alias sunt expedita voluptatum. Architecto delectus harum
        temporibus itaque! Nemo dignissimos tempora nobis, tenetur earum ullam
        quae autem ad molestias aspernatur recusandae adipisci hic veniam a
        natus totam consequatur. Mollitia accusantium sunt odio provident
        similique accusamus asperiores distinctio, laborum harum officiis,
        corrupti cupiditate dolorum et quam odit repellendus tempora, fuga totam
        nulla. Voluptatum voluptatibus placeat ipsam voluptatem suscipit
        necessitatibus! At saepe dignissimos magni quia similique optio dolor
        magnam autem necessitatibus est ullam corporis neque fuga aperiam
        distinctio accusamus, voluptatem repudiandae! Beatae vel voluptas
        facilis officia, maxime impedit atque corporis delectus repellat,
        temporibus, doloribus modi veritatis perferendis. Ea vel voluptates sint
        dolorum sed veniam molestias tempore laborum nobis possimus soluta
        aspernatur quam atque, consequatur ducimus doloremque esse quia quod
        ad!</p>
</div>

{% endblock %}